div {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 5px;
    margin: 3px 0;
}

button {
    padding: 5px 15px;
}